.content-wrapper
    img.drawing(src="../images/illustration-woman-online-mobile.svg")
    img.drawing-shadow(src="../images/bg-pattern-mobile.svg")
    .text-wrapper
        h1 FAQ
        mixin toggler(title = 'Default title', text = 'Default answer')
            .toggle-wrapper
                div.toggler-top
                    span.toggle-title= title
                    img.toggle-arrow(src="../images/icon-arrow-down.svg")
                p.toggle-text= text
        +toggler(
            'How many team members can I invite?',
            'You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.'
        )
        +toggler(
            'What is the maximum file upload size?',
            'No more than 2GB. All files in your account must fit your allotted storage space.'
        )
        +toggler(
            'How do I reset my password?',
            'Click “Forgot password” from the login page or “Change password” from your profile page. A reset link will be emailed to you.'
        )
        +toggler(
            'Can I cancel my subscription?',
            'Yes! Send us a message and we’ll process your request no questions asked.'
        )
        +toggler(
            'Do you provide additional support?',
            'Chat and email support is available 24/7. Phone lines are open during normal business hours.'
        )
