<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../images/favicon-32x32.png"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&amp;display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../styles/css/index.css" />
        <title>Frontend Mentor | FAQ Accordion Card</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="content-wrapper">
                <img
                    class="drawing"
                    src="../images/illustration-woman-online-mobile.svg"
                /><img
                    class="drawing-shadow"
                    src="../images/bg-pattern-mobile.svg"
                />
                <div class="text-wrapper">
                    <h1>FAQ</h1>
                    <div class="toggle-wrapper">
                        <div class="toggler-top">
                            <span class="toggle-title"
                                >How many team members can I invite?</span
                            ><img
                                class="toggle-arrow"
                                src="../images/icon-arrow-down.svg"
                            />
                        </div>
                        <p class="toggle-text">
                            You can invite up to 2 additional users on the Free
                            plan. There is no limit on team members for the
                            Premium plan.
                        </p>
                    </div>
                    <div class="toggle-wrapper">
                        <div class="toggler-top">
                            <span class="toggle-title"
                                >What is the maximum file upload size?</span
                            ><img
                                class="toggle-arrow"
                                src="../images/icon-arrow-down.svg"
                            />
                        </div>
                        <p class="toggle-text">
                            No more than 2GB. All files in your account must fit
                            your allotted storage space.
                        </p>
                    </div>
                    <div class="toggle-wrapper">
                        <div class="toggler-top">
                            <span class="toggle-title"
                                >How do I reset my password?</span
                            ><img
                                class="toggle-arrow"
                                src="../images/icon-arrow-down.svg"
                            />
                        </div>
                        <p class="toggle-text">
                            Click “Forgot password” from the login page or
                            “Change password” from your profile page. A reset
                            link will be emailed to you.
                        </p>
                    </div>
                    <div class="toggle-wrapper">
                        <div class="toggler-top">
                            <span class="toggle-title"
                                >Can I cancel my subscription?</span
                            ><img
                                class="toggle-arrow"
                                src="../images/icon-arrow-down.svg"
                            />
                        </div>
                        <p class="toggle-text">
                            Yes! Send us a message and we’ll process your
                            request no questions asked.
                        </p>
                    </div>
                    <div class="toggle-wrapper">
                        <div class="toggler-top">
                            <span class="toggle-title"
                                >Do you provide additional support?</span
                            ><img
                                class="toggle-arrow"
                                src="../images/icon-arrow-down.svg"
                            />
                        </div>
                        <p class="toggle-text">
                            Chat and email support is available 24/7. Phone
                            lines are open during normal business hours.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="attribution">
            <p>
                Challenge by&nbsp;<a
                    href="https://www.frontendmentor.io?ref=challenge"
                    target="_blank"
                    >Frontend Mentor</a
                >
            </p>
            <p>
                Coded by&nbsp;<a
                    href="https://www.frontendmentor.io?ref=challenge"
                    target="_blank"
                    >ann-dev</a
                >
            </p>
        </div>
    </body>
</html>
