/*
 * Global styles
 */
body {
  align-items: center;
  box-sizing: border-box;
  background: #af67e9;
  background: linear-gradient(0deg, #6565e7 10%, #af67e9 100%);
  color: #4a4b5e;
  display: flex;
  flex-direction: column;
  font-family: 'Kumbh Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  height: auto;
  min-height: 100vh;
}
body p {
  margin: 0;
}
body a {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*
 * Accordion styles
 */
.wrapper {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0 2.8px 2.2px rgba(0,0,0,0.02), 0 6.7px 5.3px rgba(0,0,0,0.028), 0 12.5px 10px rgba(0,0,0,0.035), 0 22.3px 17.9px rgba(0,0,0,0.042), 0 41.8px 33.4px rgba(255,186,120,0.05), 0 100px 80px rgba(85,32,207,0.5);
  min-height: 535px;
  margin: 155px auto 50px;
  padding: 0 25px 30px;
  position: relative;
  width: 325px;
}
.drawing {
  left: 17px;
  max-width: 265px;
  position: absolute;
  top: -107.5px;
}
.drawing-shadow {
  left: 40px;
  position: absolute;
  top: 0;
}
.text-wrapper {
  margin-top: 138px;
}
.text-wrapper h1 {
  color: #1d1e35;
  font-size: 33px;
  margin-bottom: 16px;
  text-align: center;
}
.accordion {
  border-bottom: 1px solid #e7e7e9;
}
.accordion-button {
  align-items: center;
  background: inherit;
  border: none;
  display: flex;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 13px;
  justify-content: space-between;
  padding: 19px 0;
  text-align: left;
  width: 100%;
}
.accordion-button:focus {
  outline: none;
}
.accordion-button:hover {
  cursor: pointer;
}
.accordion-icon {
  height: 7px;
  width: 11px;
}
.accordion-bottom {
  font-size: 12px;
  line-height: 18px;
  opacity: 0;
  overflow: hidden;
  height: 0;
  max-width: 245px;
  transition: all 0.2s linear;
}
.accordion-button[aria-expanded='true'] > .accordion-title {
  font-weight: 700;
}
.accordion-button[aria-expanded='true'] > .accordion-icon {
  transform: rotate(180deg);
}
.accordion-button[aria-expanded='true'] + .accordion-bottom {
  opacity: 1;
  margin-bottom: 19px;
  height: auto;
}
.toggle-text {
  color: #787887;
}
.attribution {
  z-index: 2;
}
.attribution p {
  color: #fff;
  font-size: 11px;
  margin-top: 5px;
  text-align: center;
}
.attribution a {
  color: #fff;
  font-weight: 700;
}
.attribution a:hover {
  text-decoration: underline;
}
